#wrapper {
    display: flex;
    background-color: #5f259f;
}

a {
    color: #ffcc00;
}

@media screen and (min-width: 600px) {
    body {
        background-image: url("../images/magnifying-glass.jpg");
    }
}