#wrapper {
    display: flex;
    background-color: #5f259f;
}

a {
    color: #ffcc00;
}

@media screen and (min-width: 600px) {
    body {
        background: url("https://images.unsplash.com/photo-1586769852836-bc069f19e1b6") no-repeat fixed center #0000aa;
    }
}